<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Paz y Salvo Académico</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/pazysalvo.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Formato Paz y Salvo</h1>
            <p>Académico - Administrativo</p>
        </div>

        <div class="section">
            <p>
                <span class="label">Nombre del Aprendiz:</span> 
                {{ usuario.nombre }} {{ usuario.apellidos }}
            </p>

            <p>
                <span class="label">Documento de identidad:</span> 
                {{ usuario.num_doc }}
            </p>

            <p>
                <span class="label">Programa:</span> 
                {{ usuario.id_ficha_FK.programa_FK.nombre_programa }}
            </p>

            <p>
                <span class="label">Ficha:</span> 
                {{ usuario.id_ficha_FK.num_ficha }}
            </p>
        </div>

        <div class="section">
            <h3 class="label">Revisión</h3>
            <table>
                <thead>
                    <tr>
                        <th>SERVIDOR PÚBLICO QUE <br>
                            INTERVIENE EN EL DILIGENCIAMIENTO</th>
                        <th>DESCRIPCION DEL TRAMITE</th>
                        <th>NOMBRES Y APELLIDOS COMPLETOS</th>
                        <th>Estado</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr>
                        <td>COORDINADOR ACADEMICO</td>
                        <td>Verificar que estén registrados la totalidad de los juicios evaluativos en el aplicativo de gestión académico administrativo institucional (etapa lectiva y productiva)
                        Verificar evidencia de presentación de la prueba Saber TyT (Tecnólogos).
                        </td>
                        <td>
                            {% if cumple_requisitos_academicos %}
                                <img src="{% static 'image/carafeliz.svg' %}" alt="Logo" width="150">
                            {% else %}
                                <img src="{% static 'image/caratriste.svg' %}" alt="Logo" width="150">
                            {% endif %}
                        </td>
                        <td>
                            {% if cumple_requisitos_academicos %}
                                Firmado
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>INSTRUCTOR SEGUIMIENTO ETAPA PRODUCTIVA</td>
                        <td>Verificar el diligenciamiento del formato de seguimiento a etapa productiva
                        Verificar la existencia de la bitácora del aprendiz en etapa productiva.</td>
                        <td>
                            {% if tiene_bitacoras_completas %}
                                <img src="{% static 'image/carafeliz.svg' %}" alt="Logo" width="150">
                            {% else %}
                                <img src="{% static 'image/caratriste.svg' %}" alt="Logo" width="150">
                            {% endif %}
                        </td>
                        <td>
                            {% if tiene_bitacoras_completas %}
                                Firmado
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>RESPONSABLE BIENESTAR AL APRENDIZ</td>
                        <td>Verificar que se encuentre a paz y salvo con las actividades del programa de bienestar al aprendiz</td>
                        <td>
                            {% if cumple_horas_bienestar %}
                                <img src="{% static 'image/carafeliz.svg' %}" alt="Logo" width="150">
                            {% else %}
                                <img src="{% static 'image/caratriste.svg' %}" alt="Logo" width="150">
                            {% endif %}
                        </td>
                        <td>
                            {% if cumple_horas_bienestar %}
                                Firmado
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>BIBLIOTECA</td>
                        <td>Verificar que está a paz y salvo con la biblioteca.</td>

                        <td>
                            {% if tiene_prestamos %}
                                <img src="{% static 'image/caratriste.svg' %}" alt="Logo" width="150">
                            {% else %}
                                <img src="{% static 'image/carafeliz.svg' %}" alt="Logo" width="150">
                            {% endif %}
                        </td>

                        <td>
                            {% if not tiene_prestamos %}
                                Firmado
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>RESPONSABLE ALMACÉN</td>
                        <td>Verificar que está a paz y salvo con almacén</td>
                        <td><img src="{% static 'image/carafeliz.svg' %}" alt="Logo" width="150"></td>
                        <td>Firma</td>
                    </tr>
                    <tr>
                        <td>AGENCIA PÚBLICA DE EMPLEO</td>
                        <td>Verificar que el aprendiz tenga sus datos actualizados en el sistema de empleo</td>
                        <td>
                            {% if usuario.datos_actualizados %}
                                <img src="{% static 'image/carafeliz.svg' %}" alt="Logo" width="150">
                            {% else %}
                                <img src="{% static 'image/caratriste.svg' %}" alt="Logo" width="150">
                            {% endif %}
                        </td>
                        <td>
                            {% if  usuario.datos_actualizados %}
                                Firmado
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a  class="download-btn">Descargar Formato</a>
    </div>
</body>
</html>