<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-right-button">
        <a href="{% url 'index' %}" class="btn-secundario">Volver</a>
    </div>
    <div class="login-container">
        <!-- Imagen superior -->
        <div class="login-logo">
            <img src="{% static 'image/sena-logo.png' %}" alt="Logo" />
        </div>

        <div class="login-header">
            <h1>Iniciar Sesión</h1>
            <p>Bienvenido de nuevo, ingresa tus credenciales.</p>
        </div>

        <form method="post">
            {% csrf_token %}
                {% if messages %}
                <ul class="error-messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            <div class="input-group">
                <input type="text" name="num_doc" placeholder="Numero de documento" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Contraseña" required>
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
