<!-- Modal Crear Usuario -->
<div id="modal-crear" class="modal" style="display: none;">
  <div class="modal-contenido">
    <h3>Crear Nuevo Aprendiz</h3>

    <form method="POST" action="{% url 'aprendices' %}">
      {% csrf_token %}
      <input type="hidden" name="crear" value="true"/>

      <!-- Campos individuales -->
      <p>Nombre: {{ form_crear.nombre }}</p>
      <p>Apellidos: {{ form_crear.apellidos }}</p>
      <p>Número de documento: {{ form_crear.num_doc }}</p>
      <p>Tipo de documento: {{ form_crear.id_tipodoc_FK }}</p>
      <p>Ficha: {{ form_crear.id_ficha_FK }}</p>

      <p>¿Es patrocinado? {{ form_crear.es_patrocinado }}</p>
      <p>Resultados completos: {{ form_crear.resultados }}</p>
      <p>¿Presentó TyT? {{ form_crear.tyt }}</p>

      <div id="instructor-row" style="display: none;">
        <p>Instructor de seguimiento: {{ form_crear.id_instructor }}</p>
      </div>

      <div class="modal-botones">
        <button type="button" id="btn-cancelar" class="btn-cancelar">Cancelar</button>
        <button type="submit" class="btn-verde">Guardar</button>
      </div>
    </form>
  </div>
</div>


