<!-- Modal Crear Usuario -->
<div id="modal-crear" class="modal" style="display: none;">
  <div class="modal-contenido">
    <h3>Crear Nuevo Aprendiz</h3>
    <form method="POST" action="{% url 'aprendices' %}">
      {% csrf_token %}
      <input type="hidden" name="crear" value="true"/>
        {{ form_crear.as_p }}
      <div class="modal-botones">
        <button type="button" id="btn-cancelar" class="btn-cancelar">Cancelar</button>
        <button type="submit" class="btn-verde">Guardar</button>
      </div>
    </form>
  </div>
</div>

     
